[submodule "src/mytardis"]
	path = src/mytardis
	url = git@github.com:UWA-FoS/trudat.git
	branch = develop
[submodule "src/mydata"]
	path = src/mydata
	url = https://github.com/wettenhj/mytardis-app-mydata
